<!DOCTYPE HTML>
<html>

<head>
  <title>Welcome to LeanEngine!</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>

<body>
  <div id="container">
    <h1>LeanEngine</h1>
    <p>DaoCloud.io 应用运行状态</p>
    
    <table>
      <thead>
        <th>Name</th>
        <th>Status</th>
      </thead>
      <tbody>
        {% for app in apps %}
        <tr>
          <td>{{ app.get('name')}}</td>
          <td>{{ app.get('state')}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>

</html>